<div class="my-fancy-nav-wrapper">
    <ul class="nav">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
            {{#if @first }}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url}}{{../data}}_BE/">{{t label '{}' ../data}}</a></li>
            {{else}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url}}{{../data}}/">{{label}}</a></li>
            {{/if}}
        {{/foreach}}
        <!-- End the loop -->
    </ul>
</div>