{{!< default-nl}}
{{#contentFor "lang"}}nl{{/contentFor}}


{{!-- The main content area --}}
<main id="site-main" class="gh-main">
    {{#match @custom.header_action "No action"}}
        {{> "components/header" layout="wide" background="image" primary=@custom.primary_header_nl secondary=@custom.secondary_header_nl}}
    {{else match @custom.header_action "Search"}}
        {{> "components/header" layout="wide" background="image" action="search" primary=@custom.primary_header_nl secondary=@custom.secondary_header_nl}}
    {{else match @custom.header_action "Subscribe"}}
        {{> "components/header" layout="wide" background="image" action="email" primary=@custom.primary_header_nl secondary=@custom.secondary_header_nl}}
    {{/match}}

    {{> "components/list-nl" layout="magazine" count="5" showExcerpt=true showPrimaryTag=true}}

    {{#if @custom.enter_tag_slugs_for_homepage_sections}}
        {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_homepage_sections}}]"}}
            {{#foreach tags}}
                {{#if @odd}}
                    {{> "components/list-nl" layout="grid" column="3" count="3" showHeader=true}}
                {{else}}
                    {{> "components/list-nl" layout="grid" column="4" count="4" showHeader=true}}
                {{/if}}
            {{/foreach}}
        {{/get}}
    {{else}}

        {{#match posts.length ">" 1}}
            {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                {{#foreach tags}}
                    {{#if @odd}}
                        {{> "components/list-nl" layout="grid" column="3" count="3" showHeader=true}}
                    {{else}}
                        {{> "components/list-nl" layout="grid" column="4" count="4" showHeader=true}}
                    {{/if}}
                {{/foreach}}
            {{/get}}
        {{/match}}
    {{/if}}

    {{> "components/cta" title=@custom.email_signup_text}}


</main>