{{#has tag="hash-nl"}}
{{!< default-nl}}
{{else has tag="hash-fr"}}
{{!< default-fr}}
{{else}}
{{!< default}}
{{/has}}

{{#post}}
    {{#match @page.show_title_and_feature_image}}
        {{> "components/header" layout="wide" background="image" primary=@custom.primary_header_nl secondary=@custom.secondary_header_nl}}
    {{/match}}
<main class="gh-main">
    {{> "components/article"}}
</main>

{{/post}}