






{{#post}}
    {{#has tag="#nl"}}
    {{!< default-nl}}
        {{#contentFor "lang"}}nl{{/contentFor}}
    {{else has tag="#fr"}}
    {{!< default-fr}}
        {{#contentFor "lang"}}fr{{/contentFor}}
    {{else}}
        {{#contentFor "lang"}}fr-default{{/contentFor}}
    {{/has}}


<main class="gh-main">
    {{> "components/article" showPrimaryTag=true showComments=true}}
    {{> "components/cta" title=@custom.email_signup_text}}
</main>

{{/post}}