<div class="ui dropdown link item" tabindex="0">
        {{#match language 'fr'}}
        <span class="text">Français</span>
        <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
        <div class="menu transition hidden" tabindex="-1">
            <a href="/blog/nl/" class="item">
                {{t "Nederlands" '{}' lang}}
            </a>
        </div>
        {{else match language 'nl'}}
            <span class="text">Nederlands</span>
            <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
            <div class="menu transition hidden" tabindex="-1">
                <a href="/blog/fr/" class="item">
                    {{t "Français" '{}' lang}}
                </a>
            </div>
        {{/match}}
</div>