{{!--
    Parameters:
    * navigationLayout ("Stacked", "Logo on the left", "Logo in the middle")
--}}

<header id="gh-head" class="gh-head gh-outer is-head-{{#match navigationLayout "Logo on the left"}}left-logo{{else match navigationLayout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#if isTransparent}} is-head-transparent{{/if}}">
    <div class="gh-head-inner{{#unless fullWidth}} gh-inner{{/unless}}">
        <div class="gh-head-brand">
            <div class="gh-head-brand-wrapper">
                <a class="gh-head-logo" href="{{@site.url}}/{{lang}}/">
                    {{#if @site.logo}}
                        <img
                            srcset="{{img_url @site.logo size="s"}} 300w,
                            {{img_url @site.logo size="m"}} 600w,
                            {{img_url @site.logo size="l"}} 1000w,
                            {{img_url @site.logo size="xl"}} 2000w"
                            sizes="(min-width: 1400px) 1400px, 92vw"
                            src="{{img_url @site.logo size="xl"}}"
                            alt="{{#if @site.title}}{{@site.title}}{{else}}{{title}}{{/if}}"
                            />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>
            <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
            <button class="gh-burger"></button>
        </div>

        <nav class="gh-head-menu">
            {{navigation data=lang}}

            <div class="" >
            {{#unless @site.members_enabled}}
                {{#match navigationLayout "Stacked"}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{/unless}}
            </div>
        </nav>

        <div class="gh-head-actions">
            {{#unless @site.members_enabled}}
                {{^match navigationLayout "Stacked"}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{else}}
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <div class="gh-head-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a class="gh-head-link" href="#/portal/signin" data-portal="signin">Sign in</a>
                            {{#unless hideSubscribeButton}}
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Subscribe</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">Sign in</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            {{/unless}}
            {{> "components/language-switcher" language=lang }}

            <div class="ui dropdown link item" tabindex="0">
                <div class="text">{{t "Account" '{}' lang}}</div>
                <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
                <div class="menu transition hidden" tabindex="-1">
                    <a href="{{navigation.[0].url}}{{lang}}_BE/login" class="item">{{t "Inloggen" '{}' lang}}</a>
                    <a href="{{navigation.[0].url}}/{{lang}}_BE/register" class="item">{{t "Registreren" '{}' lang}}</a>
                </div>
            </div>
        </div>
    </div>
</header>
